:root {

  /* Fonts*/
 --main-font: 'Roboto', sans-serif;
 --secondary-font: 'Raleway', sans-serif;

    /* Text color*/
  --primmaty-text-color: #212121;
  --title-text-color: #ffffff;
  --text-color: #757575;
  --accent-color: #2196F3;

  /* Backgroundcolor*/
  --primmaty-bg-cl: #F5F5F5;
  --accent-bg-cl: #2F303A;
}

.page {
  font-family:var(--main-font);
  font-size:16px;
  color:var(--primmaty-text-color);
}

/* reset */
.list {
  text-decoration: none;
  color: currentColor;
  list-style: none;
}
/**
  |============================
  | Header
  |============================
*/

.header {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 16px;
  background-color:var(--title-text-color);

} 
.special {
  color: var(--accent-color);
}

.logo {
  font-family:var(--secondary-font);
  text-decoration: none;
 color:var(--primmaty-text-color);
}

.special,
.logo {
  font-family:var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.item {
  color:var(--accent-color);
  text-decoration: none;
}
.header-item {
  font-size:14px;
  color: var(--text-color);
  text-decoration: none;
}

.header-item:focus,
.header-item:hover {
  color:var(--accent-color);

}

.header-all {
  color:var(--text-color);
  text-decoration: none;
}

.header-all:hover,
.header-all:focus {
  color:var(--accent-color );
}

/**
  |============================
  | Slogan
  |============================
*/
.slogan {
  background:var(--accent-bg-cl);
  text-align: center;
  text-transform: uppercase;
}

.cnt {
  font-size: 44px;
  line-height: 60px;
  color: var(--title-text-color);
}

.button {
  color: var(--title-text-color);
  background-color: #2196F3;
  cursor: pointer;
  font-weight: 700;
  line-height: 30px;
}

.button:hover,
.button:focus {
  background-color:#188CE8;
}
/**
  |============================
  | About
  |============================
*/

.visually-hidder {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0000);
  clip-path: inset(50%);
  margin: -1px;
}
.about-subtitle {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  color: var(--primmaty-text-color);
}
.about-text {
  font-size: 14px;
  line-height: 24px;
  color: var(--text-color);

}
/**
  |============================
  |Image
  |============================
*/

.image-headline {
   font-size: 36px;
  line-height: 42px;
  text-align: center;
}
/**
  |============================
  | Nero
  |============================
*/
.nero {
  background: #F5F4FA;
}
.nero-caption {
  font-weight:700;
  font-size: 36px;
  line-height:42px;
  text-align:center;
}
.nero-title {
font-weight:500;
font-size:16px;
line-height:19px;
}

.nero-meta {
 color:var(--text-color); 
 font-weight:400; 
}
.nero-item {
  color:var(--primmatytext-color);
  font-weight:400;
 }

/**
  |============================
  | Portfolio
  |============================
*/
.btn {
  font-weight:500;
  font-size:16px;
  line-height: 26px;
color:var(--primmaty-text-color) ;
background-color:#F5F4FA ;
text-decoration: none;
cursor: pointer;
border-radius: 4px;
}
.btn:focus,
.btn:hover {
  background-color: var(--accent-color);
  color:var(--title-text-color);
}
.main-btn {
text-decoration: none;
}
.work-title {
color: var(--primmaty-text-color);
font-weight: 700;
font-size: 18px;
}
.work-meta {
  font-weight:400;
font-size:16px;
color: var(--text-color);
}
 .main_item {
  text-decoration: none;
 }
/**
  |============================
  | Footer
  |============================
*/
.footer {

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  background-color:var(--accent-bg-cl);
}

.footer-logo {
  font-family:var(--secondary-font);
  font-weight:700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  color:var(--title-text-color);
}

.footer-type {
  color: var(--title-text-color);
  text-decoration: none;
  font-style: normal;
}


.footer-all {
  font-style: normal;
  font-family:var(--main-font);
  color:var(--text-color);
  text-decoration: none;
 }
 .footer-type:hover,
 .footer-type:focus {
  color: #188CE8;
}
.footer-all:hover,
.footer-all:focus {
 color: #188CE8;
}